.login {
    display: flex;
    position: initial;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100vh;
}

.wrap {
    height: 100vh;
}

.table-wrapper {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
}

.card-quiz {
    width: 20rem;
}

@media screen and (max-device-width: 767px) {
    .dashboard-cards {
        flex-direction: column !important;
    }
    
    .dashboard-cards > .card {
        margin-right: 20px;
        margin-left: 20px;
    }

    .table-wrapper {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
    }

    .pagiantion-wrapper {
        flex-direction: column;
    }

    .card-quiz {
        width: 15rem;
    }
}